.advantages {
  background-color: $color-light-blue;
  background-image: url("/img/pictures/advantages-background.png");

  @include background;

  @media (min-resolution: 2dppx) {
    background-image: url("/img/pictures/advantages-background@2x.png");
  }
}

.advantages h2 {
  margin: 0;
  margin-bottom: 57px;
  font-size: 28px;
  font-weight: 600;
  text-align: center;

  @media (max-width: $vp-768) {
    font-size: 26px;
    margin-bottom: 56px;
  }

  @media (max-width: $vp-320) {
    margin-bottom: 35px;
    font-size: 24px;
  }
}

.advantages ul {
  display: grid;
  grid-template-columns: 31% 31% 31%;
  gap: 2.9vw;

  @include reset-list;

  @media (max-width: $vp-768) {
    gap: 3.3vw;
  }

  @media (max-width: $vp-576) {
    grid-template-columns: 1fr;
    justify-items: center;
  }

  @media (max-width: $vp-320) {
    gap: 33px;
  }
}

.advantages__item {
  max-width: 360px;
  padding: 80px 2.07vw 25px 2.07vw;
  box-sizing: border-box;
  background-color: $color-default-white;

  @include background;

  @media (max-width: $vp-768) {
    padding: 70px 1.2vw 20px 2.5vw;
    max-width: 206px;
  }

  @media (max-width: $vp-320) {
    max-width: 100%;
    padding: 70px 16px 20px 20px;
  }
}

.advantages__item--ship {
  background-image: url("/img/svg/ship.svg");
  background-size: 27px 32px;
  background-position: top 30px left 30px;

  @media (max-width: $vp-768) {
    background-size: 21px 26px;
    background-position: top 25px left 20px;
  }
}

.advantages__item--meal {
  padding-right: 50px;
  background-image: url("/img/svg/ticks.svg");
  background-size: 38px 21px;
  background-position: top 33px left 32px;

  @media (max-width: $vp-768) {
    padding-right: 10px;
    background-size: 33px 19px;
    background-position: top 30px left 20px;
  }

  @media (max-width: $vp-320) {
    padding-right: 48px;
  }
}

.advantages__item--boat {
  background-image: url("/img/svg/boat.svg");
  background-size: 45px 15px;
  background-position: top 34px left 30px;

  @media (max-width: $vp-768) {
    padding-right: 17px;
    background-size: 38px 13px;
    background-position: top 32px left 20px;
  }

  @media (max-width: $vp-320) {
    padding-top: 72px;
  }
}

.advantages h3 {
  margin: 0;
  margin-bottom: 9px;
  font-size: calc(0.6vw + 10px);
  line-height: 27px;
  font-weight: 500;

  @media (max-width: $vp-768) {
    font-size: calc(1.9vw + 4px);
    line-height: 25px;
  }

  @media (max-width: $vp-320) {
    font-size: 18px;
    margin-bottom: 8px;
  }
}

.advantages__item--ship h3 {
  @media (max-width: $vp-320) {
    width: 200px;
  }
}

.advantages__item--ship p {
  @media (max-width: $vp-768) {
    min-width: 151px;
  }
}

.advantages__item--meal h3 {
  @media (max-width: $vp-320) {
    max-width: 133px;
  }
}

.advantages__item--boat h3 {
  @media (max-width: $vp-576) {
    max-width: 151px;
    margin-top: -3px;
  }
}

.advantages p {
  margin: 0;
  font-size: calc(0.3vw + 10px);
  line-height: 20px;

  @media (max-width: $vp-768) {
    font-size: calc(0.7vw + 8.7px);
  }

  @media (max-width: $vp-320) {
    font-size: 14px;
  }
}

.advantages__item--boat p {
  max-width: 241px;

  @media (max-width: $vp-768) {
    max-width: 100%;
  }
}

.advantages__item--boat br {
  @media (max-width: $vp-1366) {
    display: none;
  }

  @media (max-width: $vp-320) {
    display: block;
  }
}
