.form {
  background-color: $color-light-blue;
  color: $color-default-white;
}

.form input,
.form textarea {
  display: block;
  box-sizing: border-box;
  min-width: 100%;
  padding: 15px;
  background-color: rgba(4, 20, 39, 0.15);
  border: none;
  border-radius: 3px;
  border: 1px solid $color-light-blue;
}

.form input {
  min-height: 21px;
}

.form textarea {
  padding: 25px 15px;
  padding-top: 26px;

  @media (max-width: $vp-1023) {
    padding-top: 32px;
  }

  @media (max-width: $vp-767) {
    padding-top: 25px;
  }
}

.form button {
  min-height: 45px;
  background-color:$color-default-black;
  font-family: $ff-secondary;
  font-weight: 700;
  color: $color-default-white;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}


.form input::placeholder,
.form textarea::placeholder {
  color: $color-default-white;
  opacity: 0.7;
}

.form label {
  font-size: 14px;
  line-height: 15px;
  user-select: none;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:active {
    opacity: 0.5;
  }

  @media (max-width: $vp-1023) {
    padding-left: 25px;
    padding-bottom: 5px;
  }

  @media (max-width: $vp-767) {
    padding-left: 30px;
  }
}


