.intro__wrapper {
  min-height: 540px;
  padding: 160px 198px;

  @media (max-width: $vp-768) {
    min-height: 545px;
    padding-top: 175px;
  }

  @media (max-width: $vp-320) {
    min-height: 350px;
    padding-top: 108px;
  }
}

.intro h1,
.intro p {
  position: relative;
  z-index: 2;
  margin: 0;
  color: $color-default-white;
  text-shadow: 0 4px 4px $color-black-muted;
}

.intro h1 {
  margin-bottom: 11px;
  font-size: calc(2.12vw + 25px);
  line-height: 66px;
  font-weight: 700;

  @media (max-width: $vp-768) {
    font-size: calc(5.2vw + 10px);
    line-height: 61px;
  }

  @media (max-width: $vp-320) {
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
  }
}

.intro p {
  font-size: calc(1vw + 6.28px);
  line-height: 25px;

  @media (max-width: $vp-768) {
    font-size: calc(1.5vw + 6.5px);
    line-height: 22px;
  }

  @media (max-width: $vp-320) {
    width: 199px;
    font-size: 16px;
    line-height: 22px;
  }
}
