.intro__wrapper {
  min-height: 540px;
  padding: 160px calc(4vw + 144px);

  @media (max-width: $vp-1023) {
    min-height: 545px;
    padding: 210px 5.86vw;
    padding-top: 175px;
  }

  @media (max-width: $vp-767) {
    min-height: 239px;
    padding: 0 4.8vw;
    padding-top: 108px;
  }
}

.intro h1,
.intro p {
  position: relative;
  z-index: 2;
  margin: 0;
  color: $color-default-white;
  text-shadow: 0 4px 4px $color-black-muted;
}

.intro h1 {
  margin-bottom: 0.96vw;
  font-size: calc(1.2vw + 37.5px);
  line-height: 66px;
  font-weight: 700;

  @media (max-width: $vp-1023) {
    margin-bottom: 10px;
    font-size: 50px;
    line-height: 61px;
  }

  @media (max-width: $vp-767) {
    width: 265px;
    margin-bottom: 10px;
    font-size: 36px;
    line-height: 45px;
  }
}

.intro p {
  font-size: calc(1vw + 6.3px);
  line-height: 24px;

  @media (max-width: $vp-1023) {
    font-size: 18px;
    line-height: 22px;
  }

  @media (max-width: $vp-767) {
    width: 199px;
    font-size: 16px;
    line-height: 22px;
  }
}
