.navigation {
  min-width: 53%;
  margin-right: -10px;


  @media (max-width: $vp-1023) {
    min-width: 76%;
    margin-right: -5px;
  }

  @media (max-width: $vp-767) {
    display: none;
    min-width: 285px;
  }
}

.navigation ul {
  position: relative;
  z-index: 2;

  @include flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  @include reset-list;
  padding-right: 10px;

  @media(max-width:$vp-1023) {
    padding-right: 7px;
  }

  @media (max-width: $vp-767) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 418px;
    margin-right: -10px;
    padding: 75px 25px;
    background-color: $color-default-white;
  }
}

.page-header__navigation {
  @media (max-width: $vp-767) {
    box-shadow: 0 4px 4px $color-black-muted;
  }
}

.navigation li {
  margin-right: 13px;

  @media (max-width: $vp-1023) {
    margin-right: 3px;
    margin-bottom: 15px;
  }

  @media (max-width: $vp-767) {
    margin-bottom: 18px;
    margin-right: 0;
  }
}

.navigation li:last-of-type {
  margin-right: -10px;
}

.navigation a {
  padding: 10px;
  font-weight: 500;
  font-size: calc(0.44vw + 10px);
  line-height: 19.5px;
  color: $color-default-white;

  @media (max-width: $vp-1023) {
    font-size: 14px;
    line-height: 17px;
  }

  @media (max-width: $vp-767) {
    padding: 5px;
    font-size: 18px;
    line-height: 22px;
    color: $color-default-black;
  }
}
