form .reservation-form__wrapper {
  @include flex;
  flex-direction: column;
  align-items: stretch;
  max-width: 304px;
  padding: 42px 3.66vw;
  padding-bottom: 50px;
  background-color: $color-dark-blue;

  @media (max-width: $vp-768) {
    padding: 42px 6.52vw;
    padding-bottom: 49px;
  }

  @media (max-width: $vp-320) {
    width: 230px;
    padding: 33px 30px;
    padding-bottom: 40px;
  }
}

form .reservation-form__information,
form .reservation-form__checkbox-info {
  color: $color-default-white;
}

form .reservation-form__information {
  margin: 0;
  margin-bottom: 27px;
  font-size: calc(0.73vw + 8px);
  line-height: 27px;
  font-weight: 500;

  @media (max-width: $vp-768) {
    font-size: calc(1.05vw + 10px);
  }

  @media (max-width: $vp-320) {
    align-self: center;
    width: 220px;
    margin-bottom: 27px;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
  }
}

form .reservation-form__block {
  margin-bottom: 18px;

  @media (max-width: $vp-320) {
    margin-bottom: 20px;
  }
}

form .reservation-form__block:last-of-type {
  margin-bottom: 14px;

  @media (max-width: $vp-320) {
    margin-bottom: 20px;
  }
}

form .reservation-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 11px 15px;

  @media (max-width: $vp-768) {
    padding: 13px 12px;
  }

  @media (max-width: $vp-320) {
    padding: 14px 12px;
  }
}

form .reservation-form__input::placeholder {
  font-size: 14px;
}

form .reservation-form__checkbox-info {
  position: relative;
  display: block;
  padding-left: 22px;
  margin-bottom: 28px;
  font-size: 10px;
  cursor: pointer;

  @media (max-width: $vp-320) {
    width: 151px;
    margin-bottom: 32px;
    padding-left: 27px;
    line-height: 10px;
  }
}

form .reservation-form__checkbox-info::before {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  background-color: $color-default-white;
  content: "";

  @media (max-width: $vp-320) {
    width: 20px;
    height: 20px;
  }
}

form .reservation-form__input-checkbox:checked + .reservation-form__checkbox-info::before {
  background-image: url("../img/svg/checkbox-tick.svg");

  @include background;
  background-size: 10px 6px;
}

form .reservation-form__input-checkbox:focus + .reservation-form__checkbox-info::before {
  border: 1px solid #0000ff;
}

form .reservation-form__button {
  display: block;
  padding: 11px;
  font-size: 14px;
  line-height: 21px;
  font-weight: 600;

  @media (max-width: $vp-320) {
    padding: 10px 49px;
    border: 1px solid $color-default-white;
  }
}

form.reservation-form br {
  display: none;

  @media (max-width: $vp-320) {
    display: block;
  }
}
