@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

// Desktop first

@mixin vp-1366 {
  @media (max-width: $vp-1366) {
    @content;
  }
}

@mixin vp-768 {
  @media (max-width: $vp-768) {
    @content;
  }
}

@mixin vp-320 {
  @media (max-width: $vp-320) {
    @content;
  }
}

@mixin flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
