// Colors

$color-default-black:               #011c40;
$color-default-white:               #f9fbfd;
$color-dark-blue:                   #011c40;
$color-light-blue:                  #e3ecf6;
$color-black-muted:                 rgba(0, 0, 0, 0.25);

// Typography
$fz-default:                        16px; //calc(0.60vw + 8px);
$lh-default:                        24px;
$ff-default:                        "Montserrat", "Tahoma", sans-serif;

// Animation
$tf-default:                        ease;
$trans-default:                     0.3s $tf-default;

// Viewports
$vp-320:                            320px;
$vp-767:                            767.9px;
$vp-1023:                           1023.9px;
$vp-1366:                           1366px;
$vp-1600:                           1600px;


// Retina
$retina-dpi:                        144dpi;
$retina-dppx:                       1.5dppx;
